# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log 